Pandas

In [41]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [42]:
path = r"Side_map_2.xlsx"
import openpyxl
ref_workbook = openpyxl.load_workbook(path)
sheetnames = ref_workbook.sheetnames
print(sheetnames)
ws = ref_workbook[sheetnames[0]]
ws

['Sheet1']

In [43]:
data = ws.values
# Get the first line in file as a header line
columns = next(data)[0:]
# Create a DataFrame based on the second and subsequent lines of data
df = pd.DataFrame(data, columns=columns)
#df['bindingsite'] = pd.to_numeric(df['bindingsite'])
df

,Entry Name,bindingsite,SiteScore,size,Dscore,volume,balance
0,sitemap_5ENS_site_1,12,1.045427,579,1.071743,1890.616,0.629622
1,sitemap_5ENS_site_2,7,0.978573,84,1.003524,339.913,0.973073
2,sitemap_5ENS_site_3,4,0.801237,58,0.778578,136.514,0.536316
3,sitemap_5ENS_site_4,4,0.636061,24,0.557475,106.330,0.264998
4,sitemap_3W9H_site_2,5,1.097393,151,1.026842,270.284,0.373054
5,sitemap_3W9H_site_1,12,1.054821,1166,1.082779,3943.471,0.854434
6,sitemap_3W9H_site_3,3,1.020364,92,0.906313,256.221,0.082118
7,sitemap_3W9H_site_5,8,1.011390,69,1.087155,214.032,7.406671
8,sitemap_3W9H_site_4,2,0.959366,85,0.948200,201.341,0.429688
9,sitemap_5ENQ_site_2,1,1.134734,236,1.195330,759.059,2.457988
10,sitemap_5ENQ_site_1,12,1.049796,285,1.051196,1035.860,0.357716
11,sitemap_5ENQ_site_3,11,0.879560,65,0.860459,249.361,0.745212
12,sitemap_5ENQ_site_4,7,0.801327,50,0.775481,235.641,0.426739
13,sitemap_5ENQ_site_5,2,0.646344,36,0.595164,123.823,0.200143
14,sitemap_5ENR_site_2,1,1.207758,185,1.310969,505.925,7.334356
15,sitemap_5ENR_site_3,3,1.050244,145,1.028086,389.648,0.341067
16,sitemap_5ENR_site_1,12,1.044945,212,1.074760,919.583,0.462733
17,sitemap_5ENR_site_4,10,0.945774,81,0.942010,405.769,0.125080
18,sitemap_5ENR_site_5,7,0.808781,51,0.785046,219.520,0.290528
19,sitemap_AOD-chainA_site_2,12,1.069614,373,1.101316,1290.366,0.933380
20,sitemap_AOD-chainA_site_3,3,1.048954,127,0.936328,284.004,0.236023
21,sitemap_AOD-chainA_site_1,12,1.045680,742,1.071012,2741.256,0.636808
22,sitemap_AOD-chainA_site_4,2,0.967119,81,0.931148,251.076,0.361342
23,sitemap_AOD-chainA_site_5,6,0.793556,50,0.599680,162.582,0.334776
24,sitemap_ENT_site_2,1,1.120672,155,1.192688,544.684,2.284443
25,sitemap_ENT_site_3,3,1.037290,136,1.041960,392.392,0.365836
26,sitemap_ENT_site_1,12,1.028954,295,1.018109,1155.567,0.296792
27,sitemap_ENT_site_4,10,0.803072,44,0.771983,245.588,0.096240
28,sitemap_ENT_site_5,4,0.707016,43,0.522494,87.465,0.082674
29,sitemap_7B8R_901_site_1,12,1.033751,688,1.059240,2379.048,0.667734
30,sitemap_7B8R_901_site_3,10,0.853019,57,0.832601,278.516,0.167794
31,sitemap_7B8R_901_site_2,4,0.848438,70,0.868140,173.558,0.326804
32,sitemap_7B8R_901_site_4,2,0.623324,35,0.553608,122.794,0.033365
33,sitemap_7B8R_901_site_5,9,0.578617,22,0.518118,90.552,0.285462
34,sitemap_7B8T_site_1,12,1.046809,356,1.062400,1311.632,0.568712
35,sitemap_7B8T_site_2,10,1.029301,94,0.949174,415.030,0.136378
36,sitemap_7B8T_site_3,11,0.916343,71,0.810546,242.844,0.243861
37,sitemap_7B8T_site_5,7,0.847862,62,0.811197,237.356,0.381682
38,sitemap_7B8T_site_4,4,0.791693,64,0.781311,120.736,0.090019

In [44]:
df.columns

Index(['Entry Name', 'bindingsite', 'SiteScore', 'size', 'Dscore', 'volume',
       'balance'],
      dtype='object')

In [50]:
table = pd.pivot_table(df, values=['SiteScore', 'balance', 'Dscore', 'volume'], index=['bindingsite'], aggfunc=[np.mean, np.std], sort = False)
table.drop(labels = [12], axis = 0, inplace = True)
table= table.round(2)
table = table.sort_values(('mean', 'SiteScore'), ascending = False)
table

              mean                              std
            Dscore SiteScore balance  volume Dscore SiteScore balance  volume
bindingsite
1             1.23      1.15    4.03  603.22   0.07      0.05    2.87  136.34
5             1.03      1.10    0.37  270.28    NaN       NaN     NaN     NaN
3             0.98      1.04    0.26  330.57   0.07      0.01    0.13   70.73
8             1.09      1.01    7.41  214.03    NaN       NaN     NaN     NaN
10            0.87      0.91    0.13  336.23   0.09      0.10    0.03   86.78
11            0.84      0.90    0.49  246.10   0.04      0.03    0.35    4.61
7             0.84      0.86    0.52  258.11   0.11      0.08    0.31   55.13
2             0.76      0.80    0.26  174.76   0.21      0.19    0.18   62.78
6             0.60      0.79    0.33  162.58    NaN       NaN     NaN     NaN
4             0.70      0.76    0.26  124.92   0.15      0.08    0.19   32.66
9             0.52      0.58    0.29   90.55    NaN       NaN     NaN     NaN

In [49]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer_siteScore_withSTD = pd.ExcelWriter('sorting_by_SiteScore_results_with_STD.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
table.to_excel(writer_siteScore_withSTD, sheet_name='Sheet1')

# Close the Pandas Excel writer and output the Excel file.
writer_siteScore_withSTD.close()

print('I did it')

I did it

In [ ]:
bindingsite_grouping = df.groupby(['bindingsite'])['SiteScore','Dscore', 'volume', 'balance', 'size'].mean()
#deleting not nesessary binding site, which are too large 
bindingsite_grouping.drop(labels = [12], axis = 0, inplace = True)
bindingsite_grouping

/var/folders/m8/v8_kdm011wg6m28tjk9k1lww0000gn/T/ipykernel_11212/1964788058.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  bindingsite_grouping = df.groupby(['bindingsite'])['SiteScore','Dscore', 'volume', 'balance', 'size'].mean()

             SiteScore    Dscore      volume   balance    size
bindingsite
1             1.154388  1.232996  603.222667  4.025596  192.00
2             0.799038  0.757030  174.758500  0.256134   59.25
3             1.039213  0.978172  330.566250  0.256261  125.00
4             0.756889  0.701600  124.920600  0.260162   51.80
5             1.097393  1.026842  270.284000  0.373054  151.00
6             0.793556  0.599680  162.582000  0.334776   50.00
7             0.859136  0.843812  258.107500  0.518006   61.75
8             1.011390  1.087155  214.032000  7.406671   69.00
9             0.578617  0.518118   90.552000  0.285462   22.00
10            0.907791  0.873942  336.225750  0.131373   69.00
11            0.897951  0.835502  246.102500  0.494537   68.00

In [ ]:
final_bindingsite_grouping= bindingsite_grouping.round(2)
sorting_by_SiteScore = final_bindingsite_grouping.sort_values('SiteScore', ascending = False)
sorting_by_SiteScore

# Create a Pandas Excel writer using XlsxWriter as the engine.
writer_siteScore = pd.ExcelWriter('sorting_by_SiteScore_results.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
sorting_by_SiteScore.to_excel(writer_siteScore, sheet_name='Sheet1')

# Close the Pandas Excel writer and output the Excel file.
writer_siteScore.close()

print('I did it')

I did it

In [ ]:
sorting_by_SiteScore

             SiteScore  Dscore  volume  balance    size
bindingsite
1                 1.15    1.23  603.22     4.03  192.00
5                 1.10    1.03  270.28     0.37  151.00
3                 1.04    0.98  330.57     0.26  125.00
8                 1.01    1.09  214.03     7.41   69.00
10                0.91    0.87  336.23     0.13   69.00
11                0.90    0.84  246.10     0.49   68.00
7                 0.86    0.84  258.11     0.52   61.75
2                 0.80    0.76  174.76     0.26   59.25
6                 0.79    0.60  162.58     0.33   50.00
4                 0.76    0.70  124.92     0.26   51.80
9                 0.58    0.52   90.55     0.29   22.00

In [ ]:
sorting_by_Dscore = final_bindingsite_grouping.sort_values('Dscore', ascending = False)
sorting_by_Dscore

# Create a Pandas Excel writer using XlsxWriter as the engine.
writer_Dscore = pd.ExcelWriter('sorting_by_Dscore_results.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
sorting_by_Dscore.to_excel(writer_Dscore, sheet_name='Sheet1')

# Close the Pandas Excel writer and output the Excel file.
writer_Dscore.close()

print('I did it')

I did it

In [ ]:
sorting_by_Dscore

             SiteScore  Dscore  volume  balance    size
bindingsite
1                 1.15    1.23  603.22     4.03  192.00
8                 1.01    1.09  214.03     7.41   69.00
5                 1.10    1.03  270.28     0.37  151.00
3                 1.04    0.98  330.57     0.26  125.00
10                0.91    0.87  336.23     0.13   69.00
7                 0.86    0.84  258.11     0.52   61.75
11                0.90    0.84  246.10     0.49   68.00
2                 0.80    0.76  174.76     0.26   59.25
4                 0.76    0.70  124.92     0.26   51.80
6                 0.79    0.60  162.58     0.33   50.00
9                 0.58    0.52   90.55     0.29   22.00

In [ ]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer1 = pd.ExcelWriter('first_binding_site_results.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
bindingsite_grouping.to_excel(writer1, sheet_name='Sheet1')

# Close the Pandas Excel writer and output the Excel file.
writer1.close()

print('I did it')

I did it

binding site (first one)

In [ ]:
path = r"first_binding_site.xlsx"
import openpyxl
ref_workbook = openpyxl.load_workbook(path)
sheetnames = ref_workbook.sheetnames
print(sheetnames)
ws = ref_workbook[sheetnames[0]]
data = ws.values
# Get the first line in file as a header line
columns = next(data)[0:]
# Create a DataFrame based on the second and subsequent lines of data
df = pd.DataFrame(data, columns=columns)
df.head(10)

['Sheet1']

  Title  SiteScore  Dscore   volume  balance
0  5ENS      1.140   1.212  495.635    2.955
1  3W9H      1.133   1.181  939.820    2.109
2  5ENQ      1.206   1.297  475.398    5.970
3  5ENR      1.207   1.308  488.775    7.291
4  3AOD      1.070   1.102  524.790    0.864
5  5ENT      1.101   1.138  680.512    1.249
6  7B8R      1.099   1.131  654.101    1.318
7  7B8T      1.064   1.118  383.131    4.108

In [ ]:
analysis_df = pd.DataFrame(pd.to_numeric(df['SiteScore']))
analysis_df.mean()

SiteScore    1.1275
dtype: float64

In [ ]:
df['SiteScore'] = pd.to_numeric(df['SiteScore'])
df['balance'] = pd.to_numeric(df['balance'])
df_desc = df.describe()
df_desc_round = df_desc.round(2)
df_desc_round

       SiteScore  Dscore  volume  balance
count       8.00    8.00    8.00     8.00
mean        1.13    1.19  580.27     3.23
std         0.06    0.08  174.54     2.37
min         1.06    1.10  383.13     0.86
25%         1.09    1.13  485.43     1.30
50%         1.12    1.16  510.21     2.53
75%         1.16    1.23  660.70     4.57
max         1.21    1.31  939.82     7.29

In [ ]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('first_binding_site_results.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
df_desc_round.to_excel(writer, sheet_name='Sheet1')

# Close the Pandas Excel writer and output the Excel file.
writer.close()

print('I did it')

I did it